<VirtualHost *:80>
	ServerAdmin {{ cf_apache_admin_email }}
	ServerName {{ server_name }}
	DocumentRoot {{ project_webroot_home }}/public_html
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory {{ project_webroot_home }}/public_html>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
	    
		# apache 2.4:
		Require all granted
		# apache 2.2 or earlier:
		#Order deny,allow
		#Allow from all
	</Directory>

	ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
	<Directory "/usr/lib/cgi-bin">
		AllowOverride None
		Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch

		# apache 2.4:
		Require all granted
		# apache 2.2 or earlier:
		#Order deny,allow
		#Allow from all
	</Directory>

	ErrorLog {{ project_apache_log_folder }}/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog {{ project_apache_log_folder }}/access.log combined

	Alias /doc/ "/usr/share/doc/"
	<Directory "/usr/share/doc/">
		Options Indexes MultiViews FollowSymLinks
		AllowOverride None

		# apache 2.4:
		Require all granted
		# apache 2.2 or earlier:
		#Order deny,allow
		#Allow from all

		Allow from 127.0.0.0/255.0.0.0 ::1/128
	</Directory>


	# Define CFIDE within this virtual host.  Make sure the symbolic link "/var/www/CFIDE" points to the right IDE for the current version of ColdFusion:
	# - for CF2018: "./CF10IDE" or "/opt/coldfusion2018/cfusion/wwwroot/CFIDE".
	Alias /CFIDE "/opt/coldfusion2018/cfusion/wwwroot/CFIDE"

</VirtualHost>
