#!/bin/bash

# stop postgresql

# need conda env {{ postgresql_conda_env }} activated.
#pg_ctl -D {{ postgresql_data_path }} -l {{ postgresql_log_path }}/logfile-$( date "+%Y%m%dT%H%M%S" ) stop

# do not need conda env {{ postgresql_conda_env }} activated.
source {{ anaconda_base_bin_path }}/activate {{ postgresql_conda_env }} && pg_ctl -D {{ postgresql_data_path }} -l {{ postgresql_log_path }}/logfile-$( date "+%Y%m%dT%H%M%S" ) stop
